<!DOCTYPE html>
<!-- saved from url=(0048)https://getbootstrap.com/docs/4.3/examples/blog/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Blog Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/blog/">

    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    
	<%- include("header.ejs") %>

		<main role="main" class="container">
		  <div class="row">
			<div class="col-md-8 blog-main">
			  <h3 class="pb-4 mb-4 font-italic border-bottom">
				From the Firehose
			  </h3>

			<% posts.slice(0,10).forEach(function(post){ %>
				<div class="blog-post">
				<h2 class="blog-post-title"><%= post.title %></h2>
				<p class="blog-post-meta"><span class="posttime"><%= post.posttime %></span> by <a href="https://getbootstrap.com/docs/4.3/examples/blog/#"><%= post.author %></a>
				&nbsp;
				<%if (haslike.indexOf(post.Id)<0){%>
					<a class="btn btn-sm btn-outline-secondary " onclick="likeClick(<%=post.Id%>, this)">Like(<%=post.likecount%>)</a>
				<%} else {%>
				<a class="btn btn-sm btn-outline-secondary disabled" onclick="likeClick(<%=post.Id%>, this)">Like(<%=post.likecount%>)</a>
				<%}%>
				&nbsp;<%if (user != null && user.username==post.author) {%><a class="btn btn-sm btn-outline-secondary" href="/post/edit/<%=post.Id%>">Edit</a><%}%></p>
				<div class="blog-content">
				<%= post.content %>
				</div>
				
			  </div><!-- /.blog-post -->
			<% }) %>		
			<script> 
				var spanPosttimes = document.getElementsByClassName('posttime')
				for (var i = 0; i < spanPosttimes.length; i++){
					
					spanPosttimes[i].innerText = new Date(spanPosttimes[i].innerText).toLocaleString();
				}
				function likeClick(postid, aid){
					$.ajax({
						method: "GET",
						url: "/post/like",
						data: { postid: postid },
						success: function(result){
							aid.innerText = 'Like('+result.post.likecount+')'
						},
						error : function(e){
							alert(e.responseJSON.msg);
						}
					})
				}
			</script>			
			
			  <nav class="blog-pagination">
			  <%if (posts.length>10){%>
				<a class="btn btn-outline-primary" href="/post/list?page=<%=Number(page)+1%>">Older</a>
				<%}else{%>
				<a class="btn btn-outline-secondary disabled" href="">Older</a>
				<%}%>
				
				
			  <%if (page>0){%>
				<a class="btn btn-outline-primary" href="/post/list?page=<%=page-1%>" tabindex="-1" aria-disabled="true">Newer</a>
				<%}else{%>
				<a class="btn btn-outline-secondary disabled" href="" tabindex="-1" aria-disabled="true">Newer</a>
				<%}%>
			  </nav>

			</div><!-- /.blog-main -->

			<aside class="col-md-4 blog-sidebar">
			  <div class="p-4 mb-3 bg-light rounded">
				<h4 class="font-italic">About</h4>
				<p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
			  </div>

			  <div class="p-4">
				<h4 class="font-italic">Archives</h4>
				<ol class="list-unstyled mb-0">
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">March 2014</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">February 2014</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">January 2014</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">December 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">November 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">October 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">September 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">August 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">July 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">June 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">May 2013</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">April 2013</a></li>
				</ol>
			  </div>

			  <div class="p-4">
				<h4 class="font-italic">Elsewhere</h4>
				<ol class="list-unstyled">
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">GitHub</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">Twitter</a></li>
				  <li><a href="https://getbootstrap.com/docs/4.3/examples/blog/#">Facebook</a></li>
				</ol>
			  </div>
			</aside><!-- /.blog-sidebar -->

		  </div><!-- /.row -->

		</main><!-- /.container -->

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="https://getbootstrap.com/docs/4.3/examples/blog/#">Back to top</a>
  </p>
</footer>


</body></html>